{% extends 'shared/main.html' %}
{% block site_content %}
    <div class="body">
        
<h1>Edit Expense</h1>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
{#        <input type="hidden" name="csrfmiddlewaretoken" value="E8qoLvlyiXBfE7NlcyWlXe1TMWV5qvo7BW8mLA5h6FQ8DjDKYeqsO6eF4dTecGxS">#}
{#        <label for="name">Title</label>#}
{#        <input type="text" name="title" value="{{ form.title }}" maxlength="50" required="" id="id_title">#}
{##}
{#        <label for="description">Description</label>#}
{#        <textarea name="description" cols="40" rows="10" required="" id="id_description">{{ form.description }}</textarea>#}
{##}
{#        <label for="image_url">Link to Image</label>#}
{#        <input type="url" name="image_url" value="{{ form.image_url }}" maxlength="200" required="" id="id_image_url">#}
{##}
{#        <label for="price">Price</label>#}
{#        <input type="number" name="price" value="{{ form.price }}" step="any" required="" id="id_price">#}
{##}
        <input type="submit" value="Edit">
    </form>
</div>

    </div>
 {% endblock %}