{% extends 'shared/main.html' %}
{% block site_content %}
{% load static %}
    <div class="body">
        
<h1>Your Profile</h1>
<div class="expenses-container">
    <div class="expense-container">
        <h2>{{ profile }}</h2>
        <hr>
        <img src="{% static 'images/user.png' %}">
        <p>{{ profile }}</p>
        <div class="expense-detail">
            <div>
                <p>Budget Left: {{ profile.budget }}$</p>
            </div>
            <div class="right">
                <a class="button edit" href="{% url 'edit' profile.id %}">Edit Profile</a>
                <a class="button delete" href="{% url 'delete' profile.id %}">Delete Profile</a>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}