{% load static %}

<html lang="en">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1 class="header">My Todo List</h1>
    <form method="post" action="/todos-add/">
        {% csrf_token %}
        <label class="label">
            <label><h3> Title </h3>
            <p><input type="text" name="text" required/></p>
        </label>
        <label><h3>Description</h3>
            <p><textarea class="textarea" name="description" required></textarea></p>
        </label>
        <label><h3>Owner</h3>
            <P><input type="text" name="owner" required/></p>
        </label>
        <p><button class="button">Add new task...</button></p>
        </label>
    </form>
    {% if todos %}
        <div class="container">
        {% for todo in todos %}
        <div class="todo">
        <p>Title: {{ todo.title }}</p>
        <p>{{ todo.owner }}</p>
        <p>Start date: {{ todo.stat_date }}</p>
        <div class="description">Description: {{ todo.description }}</div>
        <form method="post" action="/todo-change-state/{{ todo.id }}">
        {% csrf_token %}
        {% if todo.is_done %}
            <div class="done">DONE</div>
            <label>
                <input type="hidden" name="is_done" value="false" />
            </label>
            <button class="button2">Change</button>
            <button ><a class="button1" href="/todos-dell/{{ todo.id }}">Dell</a></button>
        {% else %}
            <div class="open">NOT DONE</div>
            <label>
                <input type="hidden" name="is_done" value="true" />
            </label>
            <button class="button2">Change</button>
            <button ><a class="button1" href="/todos-dell/{{ todo.id }}">Dell</a></button>
        {% endif %}
        </form>

        </div>
        {% endfor %}
        </div>
    {% else %}
        <h2 class="header">It`s Empty</h2>
    {% endif %}
</body>
</html>