{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
{#    <button ><a class="button3" href="/add-tasks/">Add new task...</a></button>#}
</head>
<body>
    <h1>My Todo List</h1>
    <div>
    <h2>
         <form method="get" action="{% url 'creat task'%}">
        {% csrf_token %}
{#        {{ todo_form.as_p}}#}
{#        <small id="title_help" class="form-text text-muted">Enter task title</small>#}
{#        <label>#}
{#        <input type="text"#}
{#                       name="{{ todo_form.title.html_name }}"#}
{#                       id="{{ todo_form.title.id_for_label }}"#}
{#                       aria-describedby="title_help"#}
{#                       value="{{ todo_form.title.value }}"/>#}
{#        </label>#}
{#        <small id="title_help" class="form-text text-muted">Enter task description</small>#}
{#        <label>#}
{#        <input type="text"#}
{#                       name="{{ todo_form.description.html_name }}"#}
{#                       id="{{ todo_form.description.id_for_label }}"#}
{#                       aria-describedby="description_help"#}
{#                       value="{{ todo_form.description.value }}"/>#}
{#        </label>#}
{#        <small id="title_help" class="form-text text-muted">Enter task owner</small>#}
{#        <label>#}
{#        <input type="text"#}
{#                       name="{{ todo_form.owner.html_name }}"#}
{#                       id="{{ todo_form.owner.id_for_label }}"#}
{#                       aria-describedby="owner_help"#}
{#                       value="{{ todo_form.owner.value }}"/>#}
{#        </label>#}
    <button class="button3">Creat new task...</button>
    </form>
     <form method="get">
        {% csrf_token %}
        {{ filter_form.as_p }}
    <button class="button2">Sort by state..</button>
    </form>
    </h2>
    </div>
    {% if todos %}
        <div class="container-xxl">
        {% for todo in todos %}
        <li>
        <div class="todo">
        <button type="button" class="collapsible button3">Title: {{ todo.title }}</button>
            <div class="content">
        <h3>{{ todo.owner }}</h3>
        <h3>Start date: {{ todo.stat_date }}</h3>
        <h4>
            <p>
                Description: {{ todo.description }}
            </p>
        </h4>
            </div>
        <form method="post" action="/todo-change-state/{{ todo.id }}">
        {% csrf_token %}
        {% if todo.is_done %}
            <div class="done">DONE</div>
            <label>
                <input type="hidden" name="is_done" value="false" />
            </label>
           <button class="button2"><a class="button2">Change</a></button>
            <button class="button2"><a class="button2" href="/edit/{{ todo.id }}">Edit</a></button>
            <button class="button1"><a class="button1" href="/todos-dell/{{ todo.id }}">Dell</a></button>
        {% else %}
            <div class="open">NOT DONE</div>
            <label>
                <input type="hidden" name="is_done" value="true" />
            </label>
            <button class="button2"><a class="button2">Change</a></button>
            <button class="button2"><a class="button2" href="/edit/{{ todo.id }}">Edit</a></button>
            <button class="button1"><a class="button1" href="/todos-dell/{{ todo.id }}">Dell</a></button>
        {% endif %}
        </form>
        </div>
        </li>
        {% endfor %}
        </div>
    {% else %}
        <h2 class="header">It`s Empty</h2>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>