{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New TODO</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<h1 class="header">Fill out the form!</h1>
<div class="container">
    <form method="post" class="form-message">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value='Submit'>
        <a class="btn btn-primary" href="{% url 'main' %}">Return</a>
    </form>
</div>
</body>
</html>