{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</head>
<body>
<h1>Best selling mobiles</h1>
<ul>
    {% for u in phones %}
        <li class="list-item">
            <h3>{{ u.name }}</h3>
            {% if u.quantity %}
                 <a href= "..../{PHONE_ID}" class= "btn cta-buy" >
                    Buy
                 </a>
            {% else %}
                 <a style="pointer-events: none" href= "..../{PHONE_ID}" class= "btn cta-buy" >
                    Buy
                 </a>
            {% endif %}

            <h6>"Quantity"  {{ u.quantity }}</h6>
        </li>
    {% endfor %}
</ul>

</body>
</html>